body {
	background-color: black;
	color: white;
	line-height: 160%;
	margin: 4px;
}
button {
	color: white;
	box-sizing: border-box;
	background-color: black;
	border-radius: 6px;
	line-height: 100%;
	background-color: black;
	border: 1px solid white;
	height: 2rem;
	cursor: pointer;
}
p {
	margin: 0;
}
select {
	color: white;
	box-sizing: border-box;
	border-radius: 6px;
	flex: 1;
	width: 100%;
	background-color: black;
	border: 1px solid white;
	height: 2rem;
}
#bottomrowcontainer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
}
#bottomrow {
	display: flex;
	gap: 4px;
	margin-left: max(0px, calc(50% - 200px));
	margin-right: max(0px, calc(50% - 200px));
	padding: 4px;
	background-color: black;
	box-shadow: 0 0 16px 16px black;
}
.arrowBtn {
	width: 50px;
}
#checklist {
	margin-bottom: calc(2rem + 40px);
}
#checklist > ol, #checklist > ul {
	padding: 0;
}
ol, ul {
	list-style-position: inside;
	padding-left: 20px;
	margin: 0;
}