* {
	--bg: black;
	--highlight: #bef;
	--accent: #5ab;
}
html, body, #container, #container div {
	height: 100%;
}
body {
	background-color: var(--bg);
	color: var(--highlight);
	line-height: 2;
	margin: 0;
	font-family: Verdana, sans-serif;
}
#container {
	white-space: nowrap;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	overflow-y: hidden;
}
p {
	margin: 0;
}
#container div {
	box-sizing: border-box;
	width: max(max-content, 100%);
	display: inline-block;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-align: center;
	vertical-align: top;
	white-space: normal;
	padding: 0 6px 6px 8px;
}
#container div:not(:last-child) {
	border-right: 2px solid var(--accent);
}
#container div > ol, #container div > ul {
	padding: 0;
}
ol, ul {
	list-style-position: inside;
	padding-left: 20px;
	margin: 0;
}