#canvas-container {
	border: 2px solid lightgray;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
}
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
}
th {
	border-bottom: 1px solid grey;
	width: 25%;
}
table p {
	margin: 0 0 8px 0;
}
td {
	text-align: center;
	width: 25%;
}
.dimensions {
	margin: 0 8% 0 8%;
	width: auto;
}
@media screen and (max-width: 700px) {
	.dimensions {
		margin: 0 3px 0 3px;
		width: 100%;
	}
}