html, body {
	--margleft-min: 12px;
	--margleft: clamp(var(--margleft-min), calc(50% - 540px), 18%);
	margin: 0;
	background-color: #111115;
}
h1, h2, h3, h4, h5, h6, p, img, ul, ol, div:not(.CtxtMenu_Menu, .CtxtMenu_MenuItem, .CtxtMenu_Info, .CtxtMenu_InfoContent) {
	font-family: 'dyslexie', sans-serif;
	margin-left: var(--margleft);
	width: calc(100% - 2 * var(--margleft));
	color: white;
}
button {
	font-family: 'dyslexie', sans-serif;
}
ul, ol {
	padding-left: 32px;
	width: calc(100% - 2 * var(--margleft) - 20px);
}
a:link {
	color: #52ffb1;
}
a:visited {
	color: #c5ff59;
}
.halfWidth {
	width: calc((100% - 2 * var(--margleft)) / 2);
}
.halfWidth * {
	margin-left: 0;
}
.threeQuartersWidth {
	width: calc((100% - 2 * var(--margleft)) * 0.75);
}
.threeQuartersWidth * {
	margin-left: 0;
}
ul p, ol p {
	margin-left: 0;
}
li {
	margin-top: 8px;
	margin-bottom: 8px;
}
p, li {
	font-size: 15px;
	line-height: 265%;
}
td, th {
	font-size: 15px;
}
h1 {
	font-size: 25px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 18px;
}
img {
	margin-top: 60px;
}
img.invertmargin {
	margin-top: 0;
	margin-bottom: 60px;
}
img.noVertMargin {
	margin-top: 0;
	margin-bottom: 0;
}
.MathJax {
	font-size: 24px !important;
}
.disclaimer {
	color: #868599;
}
.cleanfont {
	font-family: Gadugi, Arial, sans-serif;
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: 16px;
	}
	h2 {
		font-size: 14px;
	}
	h3 {
		font-size: 13px;
	}
	p, li, td, th {
		font-size: 12px;
	}
	.halfWidth {
		width: calc(100% - 2 * var(--margleft));
	}
	.threeQuartersWidth {
		width: calc(100% - 2 * var(--margleft));
	}
	.MathJax {
		font-size: 18px !important;
	}
}