:root {
	--posts-blackco: initial;
	--posts-darkgrey: #eee;
	/* average of the other two greys: */
	--posts-grey: #aaa;
	--posts-lightgrey: #666;
	--posts-teal: #07b566;
	--posts-teal-dark: #e6fff4;
	--posts-lime: #69ab00;
	--posts-text: #000;
}

@media not print {
	body.dark {
		--posts-blackco: #111115;
		--posts-darkgrey: #222227;
		/* average of the other two greys: */
		--posts-grey: #5f6070;
		--posts-lightgrey: #9c9db8;
		--posts-teal: #52ffb1;
		--posts-teal-dark: #0d1a14;
		--posts-lime: #c5ff59;
		--posts-text: #fff;
	}
}

body {
	background-color: var(--posts-blackco);
	color: var(--posts-text);
	font-family: dyslexie, sans-serif;
	font-size: 14px;
	hyphens: auto;
}

.posts-titlecontainer {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	column-gap: 2em;
}

.posts-titlecontainer h1 {
	margin: 0;
}

button.posts-modeselector {
	border: 1px solid var(--posts-text);
	border-radius: 15px;
	padding: 0;
	background-color: transparent;
	display: flex;
	overflow: hidden;
	cursor: pointer;
}

button.posts-modeselector>div {
	padding: 6px;
	height: 2em;
}

.posts-modeselector .posts-svgmask {
	background-color: var(--posts-text);
	height: 100%;
	aspect-ratio: 1;
	mask-repeat: no-repeat;
	mask-position: center;
}

.posts-modeselector>.posts-activemode {
	background-color: var(--posts-teal);
}

.posts-modeselector>.posts-activemode>div {
	background-color: var(--posts-teal-dark);
}

#darkModeButton {
	mask-image: url("./posts-mooncrescent.svg");
}

#lightModeButton {
	mask-image: url("./posts-sun.svg");
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.15em;
}

body>div.posts-container {
	width: min(100%, 900px);
	margin: auto;
}

img.large {
	width: 100%;
}

img.small {
	width: min(500px, 100%);
}

a>img {
	vertical-align: top;
	/* https: //stackoverflow.com/questions/17505418/link-wrapped-around-image-makes-div-slightly-taller?rq=3 */
}

code {
	background-color: var(--posts-darkgrey);
	padding: 2px 5px;
	border-radius: 4px;
}

details.styled-simple>summary::marker {
	color: var(--posts-teal);
	font-size: 1.5em;
}

details.styled-simple>summary {
	cursor: pointer;
}

details.styled-bold {
	border-left: 6px solid var(--posts-teal);
	padding: 8px 0 8px 10px;
	box-sizing: border-box;
	background-color: var(--posts-teal-dark);
}

details.styled-bold>summary {
	cursor: pointer;
	font-weight: bold;
}

details.styled-bold>summary.h1,
details.styled-bold>summary.h1::marker {
	font-size: 1.5em;
}

details.styled-bold>summary.h2,
details.styled-bold>summary.h2::marker {
	font-size: 1.15em;
}

a:link {
	color: var(--posts-teal);
}

a:visited {
	color: var(--posts-lime);
}

.disclaimer {
	color: var(--posts-lightgrey);
}

.scrollcontainer {
	overflow: auto;
}

table.posts-styled {
	border-collapse: collapse;
}

table.posts-styled th,
table.posts-styled td {
	border: 1px solid var(--posts-lightgrey);
	padding: 0 4px;
	text-wrap: nowrap;
}

table.posts-styled tr:nth-child(even) {
	background-color: var(--posts-darkgrey);
}
