:root {
	--posts-blackco: #111115;
	--posts-darkgrey: #222227;
	/* average of the other two greys: */
	--posts-grey: #5f6070;
	--posts-lightgrey: #9c9db8;
	--posts-teal: #52ffb1;
	--posts-teal-dark: #0d1a14;
	--posts-lime: #c5ff59;
	--posts-text: #fff;
}

body.light {
	--posts-blackco: initial;
	--posts-darkgrey: #eee;
	/* average of the other two greys: */
	--posts-grey: #aaa;
	--posts-lightgrey: #666;
	--posts-teal: #07b566;
	--posts-teal-dark: #e6fff4;
	--posts-lime: #69ab00;
	--posts-text: initial;
}

@media print {
	:root {
		--posts-blackco: initial;
		--posts-darkgrey: #eee;
		/* average of the other two greys: */
		--posts-grey: #aaa;
		--posts-lightgrey: #666;
		--posts-teal: #07b566;
		--posts-teal-dark: #e6fff4;
		--posts-lime: #69ab00;
		--posts-text: initial;
	}
}

body {
	background-color: var(--posts-blackco);
	color: var(--posts-text);
	font-family: dyslexie, sans-serif;
	font-size: 14px;
	hyphens: auto;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.15em;
}

body>div.posts-container {
	width: min(100%, 900px);
	margin: auto;
}

img.large {
	width: 100%;
}

img.small {
	width: min(500px, 100%);
}

a>img {
	vertical-align: top;
	/* https: //stackoverflow.com/questions/17505418/link-wrapped-around-image-makes-div-slightly-taller?rq=3 */
}

code {
	background-color: var(--posts-darkgrey);
	padding: 2px 5px;
	border-radius: 4px;
}

details.styled-simple>summary::marker {
	color: var(--posts-teal);
	font-size: 1.5em;
}

details.styled-bold {
	border-left: 6px solid var(--posts-teal);
	padding: 8px 0 8px 10px;
	box-sizing: border-box;
	background-color: var(--posts-teal-dark);
}

details.styled-bold>summary {
	font-size: 1.5em;
	font-weight: bold;
}

a:link {
	color: var(--posts-teal);
}

a:visited {
	color: var(--posts-lime);
}

.disclaimer {
	color: var(--posts-lightgrey);
}

.scrollcontainer {
	overflow: auto;
}

table.posts-styled {
	border-collapse: collapse;
}

table.posts-styled th,
table.posts-styled td {
	border: 1px solid var(--posts-lightgrey);
	padding: 0 4px;
	text-wrap: nowrap;
}

table.posts-styled tr:nth-child(even) {
	background-color: var(--posts-darkgrey);
}
