#ikea-man {
	position: absolute;
	right: 0;
	height: 100%;
}
.points {
	font-family: 'Times New Roman', Times, serif;
}
.points p {
	margin: 8px 0;
	font-size: 32px;
}
.points input{
	width: 100px;
	margin: 0 3px;
	padding: 1px 4px;
	font-size: 24px;
	box-sizing: border-box;
}
.point-inputs {
	width: min(100%, 700px);
	display: flex;
	position: relative;
}