body {
	display: flex;
	flex-direction: column;
	margin: 0;
	font-family: monospace;
	height: 100vh;
}
#controls {
	display: flex;
	height: 30px;
}
#controls input {
	flex: 1;
	border: 2px solid #444;
	border-right: none;
	background-color: black;
	color: white;
	font-family: inherit;
	font-size: 12px;
}
#controls input:last-child {
	border-right: 2px solid #444;
}
#pdfs {
	background-color: black;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	flex-grow: 1;
}
#pdfs iframe {
	width: 50%;
	height: 50%;
}
#pdf1 {
	height: 0;
}
#pdf3 {
	height: 100%;
}