body>* {
	margin-left: 12px !important;
	width: auto;
}
.ingredients>*, .instructions>* {
	margin-left: 0;
}
table * {
	text-align: center;
}
tr *:nth-child(2n) {
	padding-left: 6px;
}
ol li {
	padding: 6px 0;
}
.quantitybutton {
	border: 2px solid #696986;
	background-color: #353441;
	border-radius: 6px;
	padding: 0;
	width: 44px;
	height: 44px;
	color: white;
}
.quantitybutton.active {
	border-color: rgb(42, 230, 0);
	background-color: rgb(8, 97, 8);
}
.inlineText {
	display: inline-block;
}
.quantityDependant {
	font-size: 17.5px;
	background-color: #083290;
	padding: 4px 10px;
	border-radius: 6px;
	font-family: consolas, monospace;
	text-align: center;
	margin: 0 3px;
}
.staticBlue {
	font-size: 17.5px;
	background-color: #083290;
	padding: 4px 10px;
	border-radius: 6px;
	font-family: consolas, monospace;
	text-align: center;
	margin: 0 3px;
}
@media screen and (max-width: 600px) {
	.staticBlue, .quantityDependant {
		font-size: 15px;
	}
}