span.blue {
	background-color: #083290;
	padding: 4px 10px;
	border-radius: 6px;
	font-family: consolas, monospace;
	margin: 0 3px;
}
td:first-child {
	text-align: right;
}
th:first-child {
	text-align: center;
}