html, body {
	--margleft-min: 20px;
	--margleft: clamp(var(--margleft-min), calc(50% - 540px), 18%);
	margin: 0;
}
h1, p, img, ul, div {
	font-family: Arial, Helvetica, sans-serif;
	margin-left: var(--margleft);
	width: calc(100% - 2 * var(--margleft));
}
.halfWidth {
	width: calc((100% - 2 * var(--margleft)) / 2);
}
.halfWidth * {
	margin-left: 0;
}
ul p {
	margin-left: 0;
}
p {
	font-size: 22px;
	margin-top: 18px;
	margin-bottom: 18px;
}
img {
	margin-top: 60px;
}
@media screen and (max-width: 600px) {
	.halfWidth {
		width: calc(100%);
	}
}