* {
	box-sizing: border-box;
	--base-left-margin: 15%;
}
body, html {
	margin-top: 0;
	margin-bottom: 0;
	overflow: auto;
}
p {
	font-size: 26px;
}
.flex-container {
	width: 100%;
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-wrap > * {
	margin-bottom: 40px;
}
.flex-container > * {
	flex: 1;
}
.input-container {
	width: calc(100% - (2 * var(--base-left-margin)));
	margin-left: var(--base-left-margin);
	margin-bottom: 4px;
}
.input-container > div > *, button, select {
	height: 34px;
	font-size: 20px;
	line-height: 0;
}
.large-input {
	height: 34px;
	font-size: 20px;
	line-height: 0;
}
.input-container > div > input {
	width: 90%;
}
.input-container > div > button {
	width: max(50px, calc(100% / 3));
	margin-left: var(--base-left-margin);
}
.input-container > p {
	margin-bottom: 10px;
}
.outputs > p:not(.output) {
	margin-top: 26px;
	margin-bottom: 10px;
}
.centered-container {
	width: calc(100% - (2 * var(--base-left-margin)));
	margin-left: var(--base-left-margin);
}
#add-button {
	width: 20%;
	margin-top: 35px;
}
.disclaimer {
	color: #bbb;
	margin-top: 70px;
	font-size: 13px;
}
.fine-print {
	color: #bbb;
	font-size: 13px;
}

@media screen and (max-width: 1000px) {
	* {
		--base-left-margin: 3%;
	}
	.flex-container > * {
		flex: 1 1 100%;
	}
	.outputs {
		margin-left: var(--base-left-margin);
	}
}